<!-- /music_by_feeling/templates/music_by_feeling/base.html -->

<style>
  body{
    background-color: e1dcd9;
  }
  h2 {
    color: 8f8681;
  }
</style>

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Music_by_Feeling</title>

    </head>
    <body>
        <a href="{% url 'music_by_feeling:index' %}">
            <h2>Music by Feeling</h2>
        </a>

        {% block content %}
        {% endblock %}

        <br>
        <p>------------------------------------------------------</p>
        {% if user.id  %}
            <p>こんにちは{{ user.username }}さん</p>
            <a href="{% url 'music_by_feeling:logout'  %}">ログアウト</a><br>
        {% else %}
            <p>音楽を検索するにはログインする必要があります。</p><br>
            <a href="{% url 'music_by_feeling:login' %}">ログインはこちら</a><br>
            <a href="{% url 'music_by_feeling:signup' %}">新規登録</a><br>
        {% endif %}
        <p>------------------------------------------------------</p>
        {% if user.id  %}
            <a href="{% url 'music_by_feeling:music_list' user.id %}">感情履歴</a><br>
            <a href="{% url 'music_by_feeling:history_list' user.id %}">音楽履歴</a><br>
            <a href="{% url 'music_by_feeling:playlist' user.id %}">お気に入り</a><br>
        {% endif %}
        <br>



    </body>
</html>
