{% extends 'music_by_feeling/base.html' %}
{% block content %}
<html>
<h2>お気に入り一覧</h2>
    <div class="fm">
        <table border="1">
                <tr>
                    <th>曲名</th>
                    <th>アーティスト名</th>
                </tr>
                {% for fm in fm_list %}
                <tr>
                    <td><a href="javascript:playVideo({{his.order}})">0{{fm.display_order}} {{fm.tracks}}</td>
                    <td>{{ fm.artist }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</html>

<script>
    // オーディオタグの取得
    function playVideo(num) {
        var storage = localStorage;
            storage.Key = num;
        window.location.href = "{% url 'music_by_feeling:videoplayback' %}";
    }
</script>
{% endblock %}