{% extends 'music_by_feeling/base.html' %}
{% block content %}

<html>
    <head>
        <title>Music_by_Feeling</title>
    </head>
    <body>
        <div class="title-button-sidebyside">
            <a href="{% url 'music_by_feeling:videoplayback' %}">
                <div class="class1">
                    <img src="/static/images/icon_close.png" width="48" height="43">
                </div>
            </a>
        </div>
        <iframe style="border-radius:12px" src={{ url_0 }} width="750" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <h4>履歴</h4>
            {% for hl in hlList %}
                <a href="javascript:playVideo('{{hl.track_url}}')">{{hl.tracks}}</a><br>
            {% endfor %}
    </body>
</html>

<script>
  var storage = localStorage;
  var urlList = {{ url | safe}};

  if(storage.Key1 != 0){
    var tag = document.getElementsByTagName("iframe")[0];
    tag.src = urlList[storage.Key1];
  }
  function playVideo(url1) {
      var tag = document.getElementsByTagName("iframe")[0];
      tag.src = url1;
  }
</script>

{% endblock %}
