<!-- /music_by_feeling/templates/music_by_feeling/index.html -->

{% extends 'music_by_feeling/base.html' %}

{% block content %}

    <h2>MUSIC_BY_FEELINGリスト</h2>

    {% if category %}
        <h2>カテゴリー: {{ category.title }}</h2>
    {% endif %}

    {% for musics_by_feeling in music_by_feeling %}
        <ul>
            <li>{{ musics_by_feeling.title }}--{{ musics_by_feeling.created_at }}</li>
            <form method="POST" action="{% url 'music_by_feeling:delete' musics_by_feeling.pk %}">
                {% csrf_token %}
                <button type="submit">削除</button>
            </form>
        </ul>
    {% endfor %}

    <a href="{% url 'music_by_feeling:videoplayback' %}">ビデオ再生画面</a>
    <a href="{% url 'music_by_feeling:playlist' %}">プレイリスト画面</a>

{% endblock %}
