<!-- /music_by_feeling/templates/music_by_feeling/index.html -->

{% extends 'music_by_feeling/base.html' %}

{% block content %}

    <!--<h2>MUSIC_BY_FEELINGリスト</h2>-->



    <br>
    {% if category %}
        <!--<h2>カテゴリー: {{ category.title }}</h2>-->
    {% endif %}

    {% for page3 in music_by_feeling %}
     {{feeling_1}}
        <ul>
            <li>{{ musics_by_feeling.title }}--{{ musics_by_feeling.created_at }}</li>
            <form method="POST" action="{% url 'music_by_feeling:delete' musics_by_feeling.pk %}">
                {% csrf_token %}

            </form>
        </ul>
    {% endfor %}

    <a href="{% url 'music_by_feeling:page3' %}">音楽を聴く</a>
    <br><br>
    <a href="{% url 'music_by_feeling:spotifyLoad' %}">結果</a>
    <br><br>

    

{% endblock %}
