<!-- /music_by_feeling/templates/music_by_feeling/page3.html
メイン画面：曲を聴くボタンを押すと4にpage4に飛ぶ
過去に聞いた曲などの閲覧機能（？）-->
{% load static %}
<style>
  body{
    background-color: e1dcd9;
  }
  h2 {
    color: 8f8681;
  }

  .center{
    text-align:center;
  }
  *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.center{
  text-align:center;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}

li{
  font-size: 1.5rem;
}




</style>
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>曲を聴く</title>

    </head>
    <body>
      <a href="{% url 'music_by_feeling:index' %}">
          <h2><font size="6">Music by Feeling</font></h2>
      </a>

        <ul>
            <br>
                <li><div>
                  <label for="scales">なりたい気分を選択</label>
                  <br><br>
                  <p><font size="5">悲<input type="range" min="0" max="10" value="5" id="select_feeling_1">楽</p>

                  <p><font size="5">静<input type="range" min="0" max="10" value="5" id="select_feeling_2">活</p>


<br><br>
                </div></li>



                <li>
                  <label for="name">アーティスト名：</label>
                  <input type="text" id="name" name="name" required minlength="1" maxlength="100" size="20">
                </li><br>


                <li><label for="genres-select">ジャンル:</label>
                  <select name="genres" id="genres-select">
                    <option value="">選択してください</option>
                    <option value="j-pop">J ポップ</option>
                    <option value="k-pop">K ポップ</option>
                    <option value="rock">ロック</option>
                    <option value="anime">アニソン</option>
                    <option value="glam metal">ヘビメタ</option>
                    <option value="vocaloid">ボカロ</option>
                    <option value="hip hop">ヒップホップ</option>

                  </select></li>
<br>
                <li><label for="pet-select">年代:</label>
                  <select name="jpop_hits" id="jpop_hits_select">
                    <option value="">選択してください</option>
                    <option value="2022">2022年</option>
                    <option value="2021">2021年</option>
                    <option value="2020">2020年</option>
                    <option value="2010">2010年</option>
                    <option value="2000">2000年</option>
                    <option value="1990">1990年</option>
                  </select></li>


<br>

                <li><div>
                  <input type="checkbox" id="scales" checked>
                  <label for="scales">人気の曲から選ぶ</label>
                </div></li>



            {% for category in category_list %}
                <a href="{% url 'music_by_feeling:music_by_feeling_category' category %}">
                    <li>{{ category }}></li>
                </a>
            {% endfor %}
        </ul>

        <form action="{% url 'music_by_feeling:spotifyLoad' %}" method="post">
            {% csrf_token %}
            <div class="field">
              <input type="hidden" name="feeling_1" id="feeling_1">
              <input type="hidden" name="feeling_2" id="feeling_2">
                <input type="hidden" name="select_list" id="select_list">
                <input type="hidden" name="select_list_1" id="select_list_1">
            </div>
            <input type="submit" onclick="select_year_reflect()" value="音楽を聴く">
        </form>

        <!--アンケート専用でリンクを貼る。提出の際には消す。-->
        <h6>なるべく幅広い数値で楽観・悲観、アクティブ・ネガティブの評価をしたいです！</h6>
        <a href="{% url 'music_by_feeling:music_list' %}">過去の参加者の数値</a>
        <h6>(こちらのリンクでは過去の参加者の入力した数値の履歴が表示されます。)</h6>
        <h6>上記のリンクを参考に、被らないような値にしていただけると幸いです。</h6>
        <h6>例:(1.0,1.0),(0.8,0.9),(0.9,1.0)などが多い場合、(0.0,0.0)などの数値を入れてください</h6>
        <h6>パラメータの数字は左が0.0、右が1.0となっています。</h6>
        <!--ここまでアンケート専用コード-->

            <!--<br>
            <hr>

        <a href="{% url 'music_by_feeling:index' %}">
          <button type="button">メインページに戻る</button></a>-->









        {% block content %}
        {% endblock %}

    </body>
</html>

<script>

    var elm1 = document.getElementById('jpop_hits_select');
    var elm2 = document.getElementById('select_list');
    var elm6 = document.getElementById('select_list_1');

    var elm3 = document.getElementById('genres-select');
    var elm4 = document.getElementById('name');
    var elm5 = document.getElementById('scales');

    var array = [];
    var num1;
    var num3;
    //var num4;
    //var num5;

    //追加
    let f1_1 = document.getElementById('select_feeling_1');
    let f1_2 = document.getElementById('feeling_1');
    f1_2.value = f1_1.value / 10;

    let f2_1 = document.getElementById('select_feeling_2');
    let f2_2 = document.getElementById('feeling_2');
    f2_2.value = f2_1.value / 10;


    function select_year_reflect() {
      //年代選択反映
      num1 = elm1.selectedIndex;
      num3 = elm3.selectedIndex;
      //num4 = elm4.selectedIndex;
      //console.log(1);
      //await sleep(5000);
      //num4 = elm4.get_attribute("value");

      //num5 = elm5.is_selected();
      //console.log(num4);
      //console.log(num5);

      array.splice(0);//配列クリア
      //array.push(elm1.options[num1].value, elm3.options[num3].value);
      //num4 = elm4.get_attribute("value");
      //num5 = elm5.is_selected();

      array.push(elm1.options[num1].value, elm3.options[num3].value, elm4.value, elm5.checked);
      //array.push(elm1.options[num1].value, elm3.options[num3].value, elm5.options[num5].value);

      elm2.value = array;

      //elm6.value = elm4.get_attribute("value");
      //elm6.value = elm4.getAttribute("value");
      //elm6.value = elm4.getAttribute('value');
      //elm6.value = elm4.value;
      //elm6.value = elm5.is_selected();
      //elm6.value = elm5.checked;

      //
      f1_2.value = f1_1.value / 10;
      f2_2.value = f2_1.value / 10;
      console.log("f1_1:"+f1_1+", f1_2:"+f1_2.value);
    }

    function sleep(msec) {
       return new Promise(function(resolve) {

          setTimeout(function() {resolve()}, msec);

       })
    }

</script>
