<!-- /music_by_feeling/templates/music_by_feeling/page3.html -->

<!doctype html>
<html>
    <head>

        <title>4.情報入力画面</title>

    </head>
    <body>

        <li>なりたい気分を選択</li>
        <li>アーティスト名</li>
        <li>ジャンル</li>
        <li>人気の曲から</li>
        <li>年代別</li>

        <ul>
            <a href="{% url 'music_by_feeling:index' %}">
                <li></li>
            </a>
            {% for category in category_list %}
                <a href="{% url 'music_by_feeling:music_by_feeling_category' category %}">
                    <li>{{ category }}></li>
                </a>
            {% endfor %}
        </ul>

        {% block content %}
        {% endblock %}

    </body>
</html>
