{% load static %}
<style>
body{
    background-image: url(/static/images/1.jpg);
}
.class1 {
  position: absolute;
  top: 30px;
  left: 750px;
}
.title-button-sidebyside{
      display: flex;                /*内部要素の横並び*/
      margin: 0px 20px 0 20px;     /*上、右、下、左*/
}
</style>

<html>
    <head>
        <title>MUSIC_BY_FEELING</title>
    </head>
    <body>
        <div class="title-button-sidebyside">
            <a href="{% url 'music_by_feeling:index' %}">
                <h2><font size="6">Music By Feeling</font></h2>
            </a>
            <a href="{% url 'music_by_feeling:videoplayback' %}">
                <div class="class1">
                    <img src="/static/images/icon_close.png" width="48" height="43">
                </div>
            </a>
        </div>
        <iframe style="border-radius:12px" src={{ url_0 }} width="750" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <h4>お気に入りプレイリスト</h4>
            {% for fml in fmList %}
                <a href="javascript:playVideo()">{{fml.name}}</a><br>
            {% endfor %}
      </body>
  </html>

<script>
  var storage = localStorage;
  var urlList = {{ url | safe}};

  if(storage.Key1 != 0){
    var tag = document.getElementsByTagName("iframe")[0];
    tag.src = urlList[storage.Key1];
  }
  function playVideo() {
      var tag = document.getElementsByTagName("iframe")[0];
      tag.src = urlList[0];
  }
</script>
