@charset "utf-8";


/*CSSスライドショー設定
---------------------------------------------------------------------------*/
/*１枚目*/
@keyframes slide1 {
	0% {opacity: 0;}
	10% {opacity: 1;}
	35% {opacity: 1;}
	45% {opacity: 0;}
	100% {opacity: 0;}
}
/*２枚目*/
@keyframes slide2 {
	0% {opacity: 0;}
	25% {opacity: 0;}
	35% {opacity: 1;}
	65% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}
/*３枚目*/
@keyframes slide3 {
	0% {opacity: 0;}
	55% {opacity: 0;}
	65% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}

/*4枚目*/
@keyframes slide4 {
	0% {opacity: 0;}
	10% {opacity: 1;}
	35% {opacity: 1;}
	45% {opacity: 0;}
	100% {opacity: 0;}
}
/*5枚目*/
@keyframes slide5 {
	0% {opacity: 0;}
	25% {opacity: 0;}
	35% {opacity: 1;}
	65% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}
/*6枚目*/
@keyframes slide6 {
	0% {opacity: 0;}
	55% {opacity: 0;}
	65% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes slide7 {
	0% {opacity: 0;}
	10% {opacity: 1;}
	35% {opacity: 1;}
	45% {opacity: 0;}
	100% {opacity: 0;}
}
/*２枚目*/
@keyframes slide8 {
	0% {opacity: 0;}
	25% {opacity: 0;}
	35% {opacity: 1;}
	65% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}


/*mainimg
---------------------------------------------------------------------------*/
/*画像ブロック*/
#mainimg {
	clear: left;width: 100%;margin: 0 auto;position: relative;
}
/*３枚画像の共通設定*/
.slide1,.slide2,.slide3 {
	width: 100%;
	animation-duration: 9s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;top:0px;
	animation-fill-mode: both;
	animation-delay: 1s;
}
.slide4,.slide5,.slide6 {
	width: 100%;
	animation-duration: 9s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;top:0px;
	animation-fill-mode: both;
	animation-delay: 10s;
}
.slide7 {
	width: 100%;
	animation-duration: 9s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;bottom:0px;
	animation-delay: 0s;
}
.slide8 {
	width: 100%;
	animation-duration: 9s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;bottom:0px;
	animation-delay: 10s;
}
/*土台画像*/
.slide0 {
	position: relative;width: 100%;height: auto;
}
/*１枚目*/
.slide1 {
	animation-name: slide1;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*２枚目*/
.slide2 {
	animation-name: slide2;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*３枚目*/
.slide3 {
	animation-name: slide3;	/*上で設定しているキーフレーム（keyframes）の名前*/
}

/*4枚目*/
.slide4 {
	animation-name: slide4;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*5枚目*/
.slide5 {
	animation-name: slide5;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*6枚目*/
.slide6 {
	animation-name: slide6;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
.slide7 {
	animation-name: slide5;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*6枚目*/
.slide8 {
	animation-name: slide6;	/*上で設定しているキーフレーム（keyframes）の名前*/
}


/*スライドショー画像上の波型の飾り画像*/
.kazari {
	position: absolute;left:0px;bottom:0px;
}

.kazari1 {
	position: absolute;left:0px;bottom:0px;
}
